[Desktop Entry]
Type=Application
Exec=firefox http://localhost:8080
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Start Firefox on Localhost
